<div class="container">
    <h1 class="mt-5" style="color: #333;">@ViewData["Title"]</h1>

    <div class="row mt-4">
        <div class="col-md-6">
            <h2 style="color: darkred; font-weight: bold;">Contact Information</h2>
            <p><strong style="color: darkcyan;">Mobile Numbers:</strong></p>
            <ul>
                <li style="color: darkorange;">9849192066</li>
                <li style="color: darkorange;">9849935442</li>
                <li style="color: darkorange;">9813944409</li>
            </ul>
        </div>
        <div class="col-md-6">
            <h2 style="color: darkred; font-weight: bold;">Address</h2>
            <p><strong style="color: darkcyan;">Location:</strong></p>
            <p style="color: darkorange;">Green Village Road, Ramkot, Nagarjun-6</p>
            <p style="color: darkorange;">Kathmandu</p>
        </div>
    </div>

    <!-- Embed Google Maps iframe code below -->
    <div class="row mt-4">
        <h2 style="color: darkgoldenrod; font-weight: bold;">Locate us on map.</h2>
        <div class="col-md-12">
            <iframe width="100%"
                    height="500"
                    frameborder="0" style="border:0"
                    src='https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d262.5312507700376!2d85.26182582534736!3d27.711561324334895!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x39eb232c1b4b168b%3A0x1005491f351539eb!2sHang%20Hillihang%20Liquor%20Shop!5e0!3m2!1sen!2snp!4v1696826134858!5m2!1sen!2snp&t=satellite&zoom=10'
                    allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade">
            </iframe>
        </div>
    </div>
</div>
